body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(122,122,122,0.6);
}

.logo {
  width: 20vw;
  border-radius: 3px;
  opacity: 0.7;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.content{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(garden.jpg);
  background-size: cover;
  border-radius: 3px;
  width: 70vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 48px;
  text-align: center;
  font-family: 'Parisienne', cursive;
  position:relative;
}

.content p {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer {
  position: absolute;
  bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.footer p {
  margin: 0 10px;
}

.footer-mobile {
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer-mobile p {
  margin: 0 10px;
}

#footer-contact {
  margin-bottom: 30px;
}

@media (max-width: 540px) {
  .logo {
    width: 70vw;
  }
  .content {
    width: 100vw;
  }
  .footer {
    display: none;
  }
  .footer-mobile{
    display: block;
  }
}
