body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,1);
}

.logo {
  width: 20vw;
  border-radius: 5px;
  opacity: 0.6;
  box-shadow: 5px 5px 10px rgba(0,0,0,1);
  margin-bottom: 20px;
}

.content{

  background-size: cover;
  border-radius: 3px;
  width: 70vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 48px;
  text-align: center;
  font-family: 'Parisienne', cursive;
  position:relative;
}

.content p {
  text-shadow: 5px 5px 10px rgba(0,0,0,1);
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.footer p {
  margin: 0 10px;
}

.footer-mobile {
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  text-shadow: 5px 5px 10px rgba(0,0,0,1);
}

.footer-mobile p {
  margin: 0 10px;
}

#footer-contact {
  margin-bottom: 30px;
}

@media (max-width: 540px) {
  .logo {
    width: 70vw;
  }
  .content {
    width: 100vw;
    justify-content: space-around;
  }
  .footer {
    display: none;
  }
  .footer-mobile{
    display: block;
    margin-top: 30px;
  }
}
